/* Body Code */

body{
    background-image: url('../images/background.png');
    min-height: 100vh;
    width: 100%;
}

/* Header Code */

.navbar-custom{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border-bottom: #cccccc solid 2px;
    box-sizing: content-box;
    line-height: 100%;
    min-height: 90px;
}

.navbar-brand-custom{
    background-color: #4aaaa5;
    line-height: 90px;
}

.navbar-brand-custom h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    line-height: inherit;
}

.nav-link-custom{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

ul.navbar-nav li:nth-of-type(even){
    -moz-user-select: none;
    -webkit-user-select: none;
    border-right: #dddddd solid 1px;
    user-select: none;
}

/* Middle Content Code */

.container-custom{
    border: #dddddd solid 1px;
}

.container-custom h2{
    border-bottom: #dddddd solid 3px; 
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
}

.container-custom p{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.container-custom figcaption{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}

.label-custom{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

.form-control-custom{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}

/* Footer Code */

.footer-custom{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background-color: #666666;
    border-top: #4aaaa5 solid 8px;
    box-sizing: content-box;
    line-height: 50px;
    min-height: 50px;
}

/* Media Queries */

@media screen and (min-width: 992px) {
    .container{
        width: 960px!important;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 960px!important;
    }
}