/* Media Queries */

@media (min-width: 1200px) {
    .container{
        width: 960px;
    }
}

@media (min-width: 992px) {
    .container{
        width: 960px;
    }
}

/* Body */

body{
    background-image: url('../images/background.png');
    height: 100%;
    width: 100%;
}

.container{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* Header / Navigation Code */

.nav-custom{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border-bottom: #cccccc solid 2px;
    box-sizing: content-box;
    margin: 0px;
    min-height: 90px;
    padding: 0px;
}

.brand-custom{
    background-color: #4aaaa5;
    margin: 0px;
    padding: 0px;
}

.brand-custom h1{
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 90px;
    margin: 0px;
    padding: 0 1.5em;
}

/* Middle Container Custom */

.container-custom{
    margin: 35px auto;
}

/* Footer Code */

.footer-custom{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background: #666666;
    border-top: #4aaaa5 solid 8px;
    bottom: 0;
    box-sizing: content-box;
    height: 50px;
    line-height: 50px;
    position: absolute;
    width: 100%;
}